.weather {
	display: grid;
	grid-template-rows: minmax(50px, auto) 50vh 200px;
	grid-template-columns: repeat(3, minmax(280px, 1fr));
	grid-gap: 20px;
}

.weather__header {
	display: flex;
	justify-content: space-around;
	grid-column: 1 / -1;
}

.weather__search-wrap {
	position:	relative;
}

.weather__search {
	padding: 5px 5px 5px 25px;

	border: 1px solid grey;
	border-radius: 4px;

	&:hover,
	&:focus {
		outline: none;
	}
}

.weather__img {
	position: absolute;
	top: 7px;
	left: 5px;

	cursor: pointer;
}

.weather__map {
	grid-column: 1 / -1;
}

